---
import BaseLayout from "../layouts/BaseLayout.astro"

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<BaseLayout pageTitle="Blog">


	<ul>
    {allPosts.map((post: any) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
	</ul>

</BaseLayout>