---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
---

<BaseLayout pageTitle="Home">
	<h2>Astro Rocks</h2>

	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari","Bonjour"]} />

</BaseLayout>